@page "/account/manage"

<div class="d-flex flex-column">
    <div class="d-flex flex-wrap justify-content-center my-1 py-1">
        <AuthorizeView>
            <Authorized>
                <div class="d-flex justify-content-center my-1 py-1">
                    @model.Username
                </div>
                <div class="d-flex flex-column w-100">
                    <CharacterList
                        Characters="@model.Characters" />
                </div>
            </Authorized>
            <NotAuthorized> 
                <div class="d-flex justify-content-center my-1">
                    <a class="btn btn-secondary m-1" href="/register">need account?</a>
                    <a class="btn btn-secondary m-1" href="/login">have account?</a>
                    <a class="btn btn-secondary m-1" href="/reset">can't log in?</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
