@page "/account/manage"

<div class="container-fluid">
    <div class="d-flex flex-column justify-content-center my-1">
        <AuthorizeView>
            <Authorized>
                <div class="d-flex justify-content-center my-1">
                    @model.Username
                </div>
                <div class="d-flex flex-wrap justify-content-center my-1">
                    <div class="d-flex flex-column">
                        <CharacterList
                            Characters="@model.Characters"
                            @bind-SelectedCharacter="model.SelectedCharacter" />
                    </div>
                    @if (model.SelectedCharacter != null)
                    {
                        <div class="d-flex flex-column justify-content-center my-1">
                            <div class="d-flex border border-success m-1">
                                <CharacterItem
                                    Character="@model.SelectedCharacter" />
                            </div>
                            <ServiceList
                                Services="@model.Services" />
                        </div>
                    }
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="d-flex justify-content-center my-1">
                    <a class="btn btn-secondary m-1" href="/register">need account?</a>
                    <a class="btn btn-secondary m-1" href="/login">have account?</a>
                    <a class="btn btn-secondary m-1" href="/reset">can't log in?</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
    