MYSQL_HOST="db"
MYSQL_PORT="3306"
MYSQL_USERNAME="{{MYSQL_USER}}"
MYSQL_PASSWORD="{{MYSQL_PASSWORD}}"
MYSQL_USERIP="%"
MYSQL_COLSTAT=""
WORLD_DB_NAME="azuremyst.mangos"
REALM_DB_NAME="azuremyst.realmd"
CHAR_DB_NAME="azuremyst.character"
LOGS_DB_NAME="azuremyst.logs"
MYSQL_PATH="/usr/bin/mysql"
CORE_PATH="/azuremyst/src/mangos"
MYSQL_DUMP_PATH=""
LOCALES_DEFAULT="YES"
DEV_UPDATES="NO"
AHBOT="NO"
FORCE_WAIT="YES"