@inherits LayoutComponentBase

<div class="container-fluid background">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center fixed-top">
            <Header />
        </div>
        <div class="d-flex justify-content-center px-2 mt-5 mb-2 pt-5 pb-2">
            @Body
        </div>
        <div class="d-flex justify-content-center px-2 mt-2 mb-3 pt-2 pb-3">
            <!--<Charity />-->
        </div>
        <div class="d-flex justify-content-center">
            <Footer />
        </div>
    </div>
</div>
