####################################################################################################
# This is the config file for the './InstallFullDB.sh' script
#
# You need to insert
#   MANGOS_DBHOST:	Your MANGOS database host
#   MANGOS_DBNAME:	Your MANGOS database schema
#   MANGOS_DBUSER:	Your MANGOS username
#   MANGOS_DBPASS:	Your MANGOS password
#   CORE_PATH:    	Your path to core's directory
#   MYSQL:        	Your mysql command (usually mysql)
#
####################################################################################################

## Define the host on which the mangos database resides (typically localhost)
MANGOS_DBHOST="mariadb"

## Define the database in which you want to add clean DB
MANGOS_DBNAME="mangosd" **("tbcmangos" if you're working with mangos-tbc)**

## Define your username
MANGOS_DBUSER="azuremyst"

## Define your password (It is suggested to restrict read access to this file!)
MANGOS_DBPASS="azuremyst"

## Define the path to your core's folder
##   If set the core updates located under sql/updates/mangos from this mangos-directory will be added automatically
CORE_PATH="/azuremyst/src/mangos"

## Define your mysql programm if this differs
MYSQL="mysql"

# Enjoy using the tool