MYSQL_HOST="mariadb"
MYSQL_PORT="3306"
MYSQL_USERNAME="azuremyst"
MYSQL_PASSWORD="azuremyst"
MYSQL_USERIP="localhost"
MYSQL_COLSTAT=""
WORLD_DB_NAME="azuremyst.mangos"
REALM_DB_NAME="azuremyst.realmd"
CHAR_DB_NAME="azuremyst.character"
LOGS_DB_NAME="azuremyst.logs"
MYSQL_PATH="/bin/mysql"
CORE_PATH="/azuremyst/src/mangos"
MYSQL_DUMP_PATH=""
LOCALES_DEFAULT="YES"
DEV_UPDATES="YES"
AHBOT="NO"
FORCE_WAIT="YES"