<div class="container-fluid">
    <div class="d-flex flex-column">
        @if (Characters != null)
        {
            foreach (var character in Characters)
            {
                <div class="d-flex" @onclick="async () => { await OnCharacterClickedAsync(character); }">
                    <CharacterItem
                        Character="@character" />
                </div>
            }
        }
    </div>
</div>
