<div class="container my-1 py-1">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center mt-1 pt-1">
            <h1 class="text-center">connect</h1>
        </div>
        <div class="d-flex justify-content-center my-1 py-1">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center">
                    ensure you have the client | tbc v2.4.3 (build 8606)
                </div>
                <div class="d-flex justify-content-center">
                    we do not distribute this client or any related files
                </div>
                <div class="d-flex justify-content-center">
                    we assume you already have this client from when you bought the discs years ago
                </div>
                <div class="d-flex justify-content-center">
                    create an account
                </div>
                <div class="d-flex justify-content-center">
                    please do not give us any sensitive or personally identifying information
                </div>
                <div class="d-flex justify-content-center">
                    it is your responsibility to protect your privacy
                </div>
                <div class="d-flex justify-content-center">
                    confirm the email address used to create the account
                </div>
                <div class="d-flex justify-content-center">
                    change your realmlist
                </div>
                <div class="d-flex justify-content-center">
                    <strong>set realmlist azuremy.st</strong>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-1 pb-1">
            <a class="btn btn-secondary m-1" href="/register">need account?</a>
            <a class="btn btn-secondary m-1" href="/reset">can't log in?</a>
        </div>
    </div>
</div>