<div class="d-flex flex-column w-100" style="background-color: lightgray;">
    <div class="d-flex justify-content-center mt-1 pt-1">
        <img src="https://avatars.githubusercontent.com/u/1919812?v=4" class="rounded-circle" style="max-height: 75px; max-width: 75px; object-fit: contain;" />
    </div>
    <div class="d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center">
            <p class="text-center">copyright &copy; @DateTime.Now.Year | all rights reserved</p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="text-center">all trademarks referenced herein are the properties of their respective owners</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <p class="text-center">
            made with <a class="text-decoration-none" href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">❤</a> 
            and support from a free and open source software community
        </p>
    </div>
    <div class="d-flex justify-content-around mb-1 pb-1">
        <a href="/policy/terms">terms of use</a>
        <a href="/policy/privacy">privacy</a>
        <a href="/policy/cookies">cookies</a>
        <a rel="nofollow" href="/policy/refund">refund policy</a>
        <a href="/about">about</a>
    </div>
</div>
