<div class="container-fluid">
    <div class="d-flex flex-column">
        @if (Services != null)
        {
            foreach (var service in Services)
            {
                <div class="d-flex" @onclick="async () => { await OnServiceClickedAsync(); }">
                    <ServiceItem
                        Name="@service.Item1"
                        Price="@service.Item2" />
                </div>
            }
        }
    </div>
</div>
