<div class="container-fluid border border-success"  style="width: 20rem;">
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column m-1">
            @Name
        </div>
        <div class="d-flex flex-column m-1">
            @Price coins
        </div>
    </div>
</div>
