<div class="container my-1 py-1">
    <div class="d-flex justify-content-center">
        <div class="input-group">
            <input type="@InputType" class="@InputClass" placeholder="password" @oninput="async args => { await OnPasswordChangedAsync(args); }" />
            <span class="input-group-text">
                <button type="button" class="btn btn-primary oi oi-eye" @onclick="OnPasswordVisibleClicked" />
            </span>
            <div class="@FeedbackClass">
                @FeedbackContent
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public string? Password { get; set; }
    [Parameter]
    public EventCallback<string> PasswordChanged { get; set; }
    [Parameter]
    public bool Validate { get; set; }
    [Parameter]
    public bool InputValid { get; set; }
    [Parameter]
    public EventCallback<bool> InputValidChanged { get; set; }

    Model model = new();

    class Model
    {
        public string? Password { get; set; }
        public bool PasswordVisible { get; set; }
        public bool InputValid { get; set; }
    }

    string? InputType =>
        model.PasswordVisible ? "text" : "password";

    string? InputClass
    {
        get
        {
            if (Validate)
                return model.InputValid ? "form-control is-valid" : "form-control is-invalid";
            return "form-control";
        }
    }

    string? FeedbackClass =>
        model.InputValid ? "valid-feedback" : "invalid-feedback";
    string? FeedbackContent =>
        model.InputValid ? "looks good!" : "6+ length";

    async Task OnPasswordChangedAsync(ChangeEventArgs args)
    {
        var value = args.Value != null ? (string)args.Value : string.Empty;
        model.Password = Password = value;
        await PasswordChanged.InvokeAsync(Password);
        await UpdateValidityAsync();
    }

    void OnPasswordVisibleClicked() =>
        model.PasswordVisible = !model.PasswordVisible;

    async Task UpdateValidityAsync()
    {
        if (!string.IsNullOrEmpty(model.Password))
        {
            try
            {
                //var valid = Regex.Match(model.Password, @"^\S*(?=\S{6,})(?=\S*\d)(?=\S*[A-Z])(?=\S*[a-z])(?=\S*[!@#$%^&*? ])\S*$").Success;
                var valid = Regex.Match(model.Password, @"^\S*(?=\S{6,})\S*$").Success;
                model.InputValid = InputValid = valid;

            }
            catch
            {
                model.InputValid = InputValid = false;
            }
        }
        else
            model.InputValid = InputValid = false;
        await InputValidChanged.InvokeAsync(InputValid);
    }
}
