@page "/"
@using Azuremyst.Models
@using Azuremyst.Models.Interfaces
@using Azuremyst.Services
@using Azuremyst.Models.Acore.Auth
@inject AcoreAuthService _acoreAuthService
@inject SoapService _soapService
@inject UserService _userService

<PageTitle>Azuremyst | Home</PageTitle>

<h1>Stay a while and listen...</h1>

<h2>Welcome to Azuremyst</h2>

<h3>Azuremyst is a x8 Wrath of the Lich King server proudly hosted on AzerothCore.</h3>
<h4>Connecting to Azuremyst is as easy as setting your realmlist to <b>set realmlist logon.azuremy.st</b></h4>
