@page "/"
@attribute [AllowAnonymous]

<div class="d-flex flex-column text-center">
    <div class="d-flex justify-content-center my-1 py-1">
        <div class="alert alert-primary" role="alert">
            <p class="text-center">please excuse our mess as we are actively developing new features</p>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center my-1 py-1">
        <a href="https://github.com/confessore/azuremyst">
            <img src="/images/azuremyst.png" width="250" style="border-radius: 50%;" />
            <div class="alert alert-primary" role="alert">
                <p class="text-center">build and grow with us on github!</p>
            </div>
        </a>
    </div>
</div>

@code {
    Model model = new();

    class Model
    {

    }

    protected override async Task OnInitializedAsync()
    {
        //model.Booths = await _marketService.GetPagedBoothsAsync(1, 10);
        //model.Products = await _marketService.GetPagedProductsAsync(1, 10);
        await base.OnInitializedAsync();
    }
}
