@page "/"
@attribute [AllowAnonymous]

<div class="d-flex flex-column text-center">
    <div class="d-flex justify-content-center my-1 py-1">
        <div class="alert alert-primary" role="alert">
            <p class="text-center">please excuse our mess as we are actively developing new features. expect the database to be purified multiple times during this phase. we thank you for your contributions</p>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center my-1 py-1">
        <a href="https://github.com/confessore/azuremyst">
            <img src="/images/azuremyst.png" width="250" style="border-radius: 50%;" />
            <div class="alert alert-primary" role="alert">
                <p class="text-center">build and grow with us on github!</p>
            </div>
        </a>
    </div>
    <div class="d-flex justify-content-center my-1 py-1">
        <h3>technologies we use</h3>
    </div>
    <div class="d-flex flex-wrap justify-content-center my-1 py-1">
        <TechnologyCard
            Title="azure"
            Description="microsoft azure, often referred to as azure, is a cloud computing service operated by microsoft for application management via microsoft-managed data centers"
            ImageSource="/images/azure.svg"
            Href="https://azure.microsoft.com/en-us" />
        <TechnologyCard
            Title=".net"
            Description=".net is a free and open-source, managed computer software framework for windows, linux, and macos operating systems. it is a cross-platform successor to .net framework. the project is primarily developed by microsoft employees by way of the .net foundation, and released under the mit license"
            ImageSource="/images/dotnet.svg"
            Href="https://dotnet.microsoft.com/en-us" />
        <TechnologyCard
            Title="blazor"
            Description="blazor is a free and open-source web framework that enables developers to create web apps using c# and html. it is being developed by microsoft"
            ImageSource="/images/blazor.svg"
            Href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" />
        <TechnologyCard
            Title="linux"
            Description="linux is a family of open-source unix-like operating systems based on the linux kernel, an operating system kernel first released on september 17, 1991, by linus torvalds. linux is typically packaged in a linux distribution such as ubuntu"
            ImageSource="/images/tux.svg"
            Href="https://ubuntu.com" />
        <TechnologyCard
            Title="nginx"
            Description="nginx is a web server that can also be used as a reverse proxy, load balancer, mail proxy and http cache. the software was created by igor sysoev and publicly released in 2004. nginx is free and open-source software, released under the terms of the 2-clause bsd license"
            ImageSource="/images/nginx.svg"
            Href="https://www.nginx.com" />
        <TechnologyCard
            Title="lets encrypt"
            Description="let's encrypt is a non-profit certificate authority run by internet security research group that provides x.509 certificates for transport layer security encryption at no charge"
            ImageSource="/images/le.svg"
            Href="https://letsencrypt.org" />
        <TechnologyCard
            Title="mariadb"
            Description="mariadb is a community-developed, commercially supported fork of the mysql relational database management system, intended to remain free and open-source software under the gnu general public license"
            ImageSource="/images/mariadb.svg"
            Href="https://mariadb.org" />
        <TechnologyCard
            Title="docker"
            Description="docker is a set of platform as a service products that use os-level virtualization to deliver software in packages called containers. containers are isolated from one another and bundle their own software, libraries and configuration files; they can communicate with each other through well-defined channels"
            ImageSource="/images/docker.svg"
            Href="https://www.docker.com" />
    </div>
</div>

@code {
    Model model = new();

    class Model
    {

    }

    protected override async Task OnInitializedAsync()
    {
        //model.Booths = await _marketService.GetPagedBoothsAsync(1, 10);
        //model.Products = await _marketService.GetPagedProductsAsync(1, 10);
        await base.OnInitializedAsync();
    }
}
