@page "/policy/about"

<section class="container sp-2">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="about-logo">azuremyst | The Burning Crusade Abandonware Server</h1>
            <div style="line-height: 29px;">
                <p>
                    azuremyst is a project focused on providing the most complete Burning Crusade experience.
                </p>
                <p>
                    Our team consists of seasoned developers who come from many different backgrounds but unite under a common goal &mdash; provide an enjoyable and challenging adventure while sticking to the core concepts of the game we love. Together with veteran players we are building on the foundations of TBC. We would also like to invite you, the community, to discuss and comment &mdash; we are always eager to hear and learn from your opinions.
                </p>
                <p>
                    Gameplay is our biggest priority and, as such, we are considering every aspect.
                    One of the many important parts is leveling and we have opted to speed it up. Max level content is the focal point of the expansion and we want to guarantee that every player has an opportunity to experience the end game.
                </p>
                <p>
                    While providing a smooth journey through the Burning Crusade we are making sure that integrity is preserved. We have taken steps to combat bots, cheaters and gold sellers.
                    We value the time players spend advancing their characters and want to ensure that there are no ways of jumping the line when it comes to relevant in-game goods. There will be no pay-to-win store but there will be other ways of supporting the project.
                </p>
            </div>
        </div>
    </div>
</section>
