@page "/policy/cookies"

<section class="container sp-2">
    <div class="row justify-content-center">
        <div class="col-lg-12 policy-text">
            <h2>
                Cookies and how we use them
            </h2>
            <p>
                azuremyst ("us", "we", or "our") uses cookies on our website (the "Website"). By using the Website, you consent to the use of cookies.
            </p>
            <p>
                Our cookie policy explains what cookies are, how we use them, how third-parties we may partner with may use cookies on the Website and your choices regarding cookies.
            </p>
            <h5>What are cookies</h5>
            <p>
                A cookie is a small piece of data that a website asks your browser to store on your computer or mobile device. The cookie allows the website to "remember" your actions or preferences over time.<br />
            </p>
            <p>
                Most browsers support cookies, but users can set their browsers to decline them and can delete them whenever they like.
            </p>
            <h5>How azuremyst uses cookies</h5>
            <p>
                When you use and access the Website, we may place a number of cookies on your computer.<br />
                We use cookies for the following purposes: authenticating to the account pages of the Website, to store your preferences, to provide analytics in order to improve our services (the "Services").
            </p>
            <h5>What types of cookies do we use</h5>
            <p>
                We use different types of cookies to run the Website, which we describe in this section.
            </p>
            <ul>
                <li>
                    Essential - cookies that are essential to provide you with services you have requested. For example, these include the cookies that make it possible for you to stay logged into your azuremyst account.
                    If you set your browser to block these cookies, then these functions and services will not work for you. In particular, we won't be able to save your preferences about cookies.
                </li>
                <li>Functionality - cookies that are used to remember your preferences or settings when you return to the Website.</li>
                <li>Third-party performance cookies - cookies which measure how often you visit our sites and how you use them. We use this information to get a better sense of how our users engage with the Website and to improve the Services. For example, the Google Analytics cookie gives us information such as your journey between pages.</li>
            </ul>
            <h5>Your choices regarding cookies</h5>
            <p>
                You can control and/or delete cookies as you wish.
                The help portion of your browser's toolbar should tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. You should note, however, that if you do not allow the use of cookies, you may not be able to take full advantage of the Website.
            </p>
        </div>
    </div>
</section>
