@page "/policy/refund"

<section class="container sp-2">
    <div class="row justify-content-center">
        <div class="col-lg-12 policy-text">
            <h2>Refund Policy</h2>
            <p>a community of free and open source software developers ("us", "we", or "our") operates the website (the "Website").</p>
            <p>Website Coins ("Coins") is the virtual currency used on the Website.</p>
            <p>Virtual Items ("Virtual Items") are in-game virtual items that azuremyst delivers through use of the Website store in exchange for Coins.</p>
            <p>Services (the "Services") are in-game services that azuremyst delivers through use of the Website store in exchange for Coins.</p>
            <p>The act of exchanging Coins into Virtual Items or Services through use of the Website will be referred to as an In-game Purchase within this policy.</p>
            <p>In order to purchase Website Coins or make an In-game Purchase you must be registered to and logged into the Website, using a personal azuremyst account ("Website account").</p>
            <p>This refund policy only covers faults that impair the usage of Website Coins. Since Website coins are non-tangible, irrevocable goods we do not provide refunds after they are purchased, which you acknowledge prior to purchasing coins on the Website.</p>
            <p>azuremyst will however, offer a refund for In-game Purchases within twenty-four hours of purchase, so long as the Virtual Items or the Services have not been consumed, modified or transferred. If any of the Virtual Items or Services contain faults upon being given access to them you should inform azuremyst immediately. Any refund request past the twenty-four hour mark will be reviewed at azuremyst's sole discretion.</p>
            <p>Refunds are designed to remove the risk from purchasing faulty Virtual Items or Services &mdash; not as a way to obtain them for free. If it appears to us that you are abusing refunds, we may stop offering them to you.</p>
            <p>Accidental purchases of Website Coins that occur as a result of a technical fault in the payment system you have used must be disputed with the respective payment processor.<br/>azuremyst is not responsible for any technical faults, malfunctions or issues arising at payment processors. azuremyst is not in charge of handling any credit/debit and bank data used to obtain Website Coins.</p>
            <p>azuremyst reserves the right to suspend or terminate any Website account when any refund is issued under any circumstance.</p>
            <p>To contact us regarding refunds, visit us on discord</p>
            <address>
                <strong>a community of free and open source software developers</strong><br/>
            </address>
            <small>This document was last updated on July 07, 2022</small>
        </div>
    </div>
</section>
