@page "/policy/terms"

<section class="container sp-2">
    <div class="row justify-content-center">
        <div class="col-lg-12 policy-text">
            <h2>
                Terms of Use
            </h2>
            <ol>
                <li>
                    <strong>Application of Terms of Use:</strong> azuremyst's website is dedicated to a non-profit project ("azuremy.st") developed to imitate outdated game versions for educational purposes only. These terms of use ("Terms of Use") apply to your use of the azuremyst website ("Website") at azuremy.st (or any other URL the Website may subsequently be hosted at), the software, documentation and any associated materials comprising or made available to you in relation to azuremyst (the "Materials") as well as any services offered or provided by azuremyst or its nominated third parties in relation to azuremyst (the "Services"). These Terms of Use incorporate and must be read in conjunction with our Privacy Policy and Cookies Policy. By making use of any of the Website, Materials and Services, you are deemed to have read and agree to be bound by these Terms of Use, our Privacy Policy and our Cookies Policy. If you do not agree to these Terms of Use, our Privacy Policy or our Cookies Policy, you are not authorised to access and use the Website, Materials and Services, and you must immediately stop doing so. You become a user of azuremyst ("User") by completing the registration of an azuremyst user account ("Account").
                </li>
                <li>
                    <strong>Amendments:</strong> azuremyst reserves the right to amend these Terms of Use at any given time upon placing any such amendments on the Website or by providing you direct notice of any such changes. Your continued use of any of the Website, Materials and Services thereafter will be deemed to be acceptance by you of any such changes to these Terms of Use.
                </li>
                <li>
                    <strong>Rights:</strong> azuremyst does not support and does not provide any modification to game files. By using the Website and/or the Services and/or the Materials you agree to take responsibility to follow game's EULA.
                </li>
                <li>
                    <strong>Amendments to azuremy.st:</strong> azuremyst at all times retains the right to deal with the Rights as azuremyst at its sole discretion deems appropriate, including without limitation the right without notice to alter, modify, redesign, suspend or discontinue any aspect or feature of the Website, Materials (including without limitation the Virtual Items) and Services.
                </li>
                <li>
                    <strong>Account Registration:</strong> To acquire or make full use of any of the Website, Materials and Services you will need to register for an azuremyst account ("Account"). If you do choose to register for an Account you agree to these Terms of Use. You may not transfer your registration or any rights you may have in your Account to any other person or entity. For the avoidance of doubt, you acknowledge that you will have no ownership rights in your Account, including without limitation any Virtual Items connected with such Account.
                </li>
                <li>
                    <strong>Disclaimers:</strong> As a "User" you agree that the use of the Website and the Services is at your own risk. You are responsible for the confidentiality of your login and password and for the security of your computer system. azuremyst is not responsible for the use of your password and Account or for all of the communication and activities on the Website, in its Services or through the usage of Materials that results from use of your login name and password by you, or by any person to whom you may have intentionally or by negligence disclosed your login and/or password in violation of this confidentiality provision.
                </li>
                <li>
                    <strong>Donations:</strong> Donations are made on a voluntary basis in appreciation of the Website and the Services. azuremyst does not assume any financial obligation with respect to donations. The User must be over 18 to be eligible to make a donation to azuremyst. azuremyst is not liable for any unauthorized donations.
                </li>
                <li>
                    <strong>Restrictions:</strong> Under no circumstances, without the prior written approval of azuremyst, may you:
                    <ol class="sub-ol">
                        <li>Adapt, reproduce, store, distribute, print, display, publish or create derivative works from any part of the Website, Materials or Services.</li>
                        <li>Utilise any automated software or 'bots' in relation to your access or use of the Website, Materials or Services.</li>
                        <li>Knowingly perform any actions that may cause the computers used to support the Website, Materials and Services to become overloaded or crash.</li>
                        <li>Use any data gathering and extraction tools or software to extract information from the Website or utilize framing techniques to enclose any of the contents of the Website.</li>
                        <li>Perform services during your use of the Website, Materials or Services for any form of compensation outside of azuremy.st.</li>
                    </ol>
                </li>
                <li>
                    <strong>Indemnity:</strong> You agree to fully indemnify azuremyst for any loss or damage it may suffer in contract, tort, equity, statute, regulation or otherwise, including without limitation any economic loss, loss of turnover, profits, business or goodwill, whether direct or consequential, in respect of any third-party claims against azuremyst, its related parties, employees, contractors or agents.
                </li>
                <li>
                    <strong>Communication Policy:</strong> The following provisions ("Communication Policy") apply to any comments you post or any statements you make in any manner on the Website (which includes for the avoidance of doubt any associated forums) or any messages you send to other users of the Materials and Services (including as part of gameplay) by any manner whether facilitated or otherwise allowable by the Materials and Services ("Communication"):
                    <ol class="sub-ol">
                        <li>Personal abuse, foul language, inappropriate subject matter, obscene, harassing, threatening, hateful, or discriminatory or defamatory remarks of any nature, as may be determined by azuremyst in its sole discretion are not permitted;</li>
                        <li>Communication advertising or promoting any person or entity or their goods or services without the prior written approval of azuremyst is not permitted;</li>
                        <li>
                            You grant azuremyst a perpetual, non-revocable royalty-free licence to:
                            <ol class="sub-ol">
                                <li>make use of any Communication as azuremyst deems appropriate in relation to any of the Website, Materials and Services or the promotion of the same; and</li>
                                <li>sub-licence third parties, on such terms as azuremyst deems appropriate, to make use of any Communication as azuremyst deems appropriate in relation to any of the Website, Materials and Services or the promotion of the same;</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>Content disclaimer:</strong> To the greatest extent permitted by law azuremyst does not accept liability for any loss or damage which may result either directly or indirectly from reliance by you upon the accuracy or currency of information contained in any of the Website, Materials or Services or in relation to any Communication, including without limitation where such loss or damage is a result of or contributed to by the negligence of azuremyst.
                </li>
                <li>
                    <strong>Linked Websites:</strong> The Website, Materials or Services may contain links to other websites not controlled by azuremyst ("Linked Websites"). Those links are provided for convenience and educational purposes only and may not remain current or be maintained. azuremyst is not responsible for the content or privacy practices associated with Linked Websites. azuremyst's links with Linked Websites should not be regarded as approval or as an endorsement, of those Linked Websites, their operators or owners, or of any information, graphics, materials, products or services referred to or contained on those Linked Websites including further links contained on those Linked Websites, unless and to the extent stipulated to the contrary in these Terms of Use. azuremy.st does not support distribution of any game clients. Download links on the Website constitute mirrors of external sites for educational purposes only.
                </li>
                <li>
                    <strong>Account Cancellation:</strong> azuremyst reserves the right, acting at its sole discretion, to refuse to accept your registration request for an Account. To the greatest extent permitted by law, azuremyst also reserves the right, acting at its sole discretion, at any time to cancel your registration and access to your Account or to restrict, limit or otherwise change your existing rights of access to your Account, or any specific feature or benefit afforded to you in relation to your Account, including without limitation in respect of any Virtual Items, if it believes you have breached these Terms of Use or any other agreements you may have with azuremyst or for any other reason whatsoever. In such event you agree that azuremyst will not be required to provide you with prior notice or explanation in respect of such action. Notwithstanding the cancellation of access to your Account in any case, you agree you will remain fully liable for any outstanding liability owed to azuremyst. azuremyst may also, where it believes such action is necessary, without notice block IP addresses of any users who have breached the Terms of Use.
                </li>
                <li>
                    <strong>Accessing:</strong> You must take your own precautions to ensure that the process which you employ for accessing or making use of any of the Website, Materials and Services does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your own computer system or any data contained therein. To the greatest extent permitted by law azuremyst does not accept responsibility for any interference or damage to your computer system or any data contained therein which may arise in connection with your accessing or making use of any of the Website, Materials and Services.
                </li>
                <li>
                    <strong>Exclusion of Warranty:</strong> To the greatest extent permitted by law, in relation to your access and use of the Website, Materials and Services, any condition or warranty either express or which would otherwise be implied by law into these Terms of Use is hereby excluded.
                </li>
                <li>
                    <strong>Exclusion of Liability:</strong> To the greatest extent permitted by law, under no circumstances will azuremyst, its employees, contractors or agents be liable to you in contract, tort, equity, statute, regulation or otherwise for any loss, damage, costs, legal costs, professional and other expenses of any nature whatsoever incurred or suffered by you or by any third-party, whether direct or consequential (including without limitation any economic loss or other loss of turnover, profits, business or goodwill) arising out of any dispute or contractual, tortious or other claims or proceedings made by or brought against you which relate in any way to your access and use of any of the Website, Materials and Services or in respect of any failure or omission on the part of azuremyst to comply with its obligations as set out in these Terms of Use. Moreover, azuremyst does not warrant that the Website and/or the Services and/or the Materials will be uninterrupted or error-free.
                </li>
                <li>
                    <strong>Failure to Comply:</strong> azuremyst accepts no liability for any failure to comply with these Terms of Use where such failure is due to circumstances beyond its reasonable control.
                </li>
                <li>
                    <strong>Waiver:</strong> If azuremyst waives any rights available to it under these Terms of Use on one occasion, this does not mean that those rights will automatically be waived on any other occasion.
                </li>
                <li>
                    <strong>Severability:</strong> If any provision of these Terms of Use is held to be invalid, void, unenforceable or illegal for any reason, such provision shall be deemed to be severed from these Terms of Use, but only to the minimum extent necessary to avoid such issue and the remainder of any such provision as well as all other provisions of these Terms of Use shall continue in full force.
                </li>
                <li>
                    <strong>Entire Agreement:</strong> These Terms of Use constitute the entire agreement between you and azuremyst in respect of their subject matter and supersede any previous understandings, representations or agreements on that subject matter.
                </li>
            </ol>
        </div>
    </div>
</section>
